node_modules
.*
*.rdb
dump.*
!/.gitignore
public/admin
public/rpm
public/uploads
config/settings.js
config/dev_settings.js
config/aws.json
lib/temp
lib/util_2152.js
lib/batchwriteitem-util-og.js
lib/query-utils-og.js
lib/scan-utils-og.js
logs.log
missing_vector_company_list.log
nohup.out
npm-debug.log
scripts/
precompiled/templates.js


/logs/*

